ul.rede-social{
  list-style: none;
  padding: 0;
}

ul.rede-social li{
  display: inline;
  margin: 0;
  padding: 5px;
}

.fa{
  font-size: 35pt;
  color: white;
  padding: 10px;
}

.fa-facebook-square:hover{
  color: #3b5998;
}

.fa-intagram:hover{
  color: #c13584;
}

.fa-linkedin-square:hover{
  color: #0072b1;
}
