
<div class="container-fluid">

  <div class="row bg-secondary align-items-center">
    <!--! texto  -->
    <div class="col-md-6">

      <div class="row d-flex justify-content-center ">
        <div class="col-md-6 text-light">
          <h1 class="fs-54">Seja bem vindo(a)!</h1>
          <h5 class="fs-18">Expresse aqui seus pensamentos e sua opinião</h5>
        </div>
      </div>

      <div class="row d-flex justify-content-center mt-3 mb-5">
        <div class="col-md-6 ">
          <button class="btn btn-light mr-2"> Nova Postagem </button>
          <a href="http://" class="btn btn-outline-light"> Ver Postagens </a>
        </div>
      </div>

    </div>
    <!--! /texto  -->

    <!--! imagem  -->
    <div class="col-md-6 d-flex justify-content-center">
      <img src="https://i.imgur.com/BkoyZIj.png" alt="heróis" width="500px" height="500px">
    </div>
    <!--! /imagem  -->

  </div>

</div>
