
<div class="container-fluid">

  <div class="row bg-secondary align-items-center">
    <!--! texto  -->
    <div class="col-md-6">

      <div class="row d-flex justify-content-center ">
        <div class="col-md-6 text-light">
          <h1 class="fs-54">Seja bem vindo(a)!</h1>
          <h5 class="fs-18">Expresse aqui seus pensamentos e sua opinião</h5>
        </div>
      </div>

      <div class="row d-flex justify-content-center mt-3 mb-5">
        <div class="col-md-6 ">
          <button class="btn btn-light mr-2" data-toggle="modal" data-target="#novaPostagem"> Nova Postagem </button>
          <a href="#postagens" class="btn btn-outline-light"> Ver Postagens </a>
        </div>
      </div>

    </div>
    <!--! /texto  -->

    <!--! imagem  -->
    <div class="col-md-6 d-flex justify-content-center">
      <img src="https://i.imgur.com/BkoyZIj.png" alt="heróis" width="500px" height="500px">
    </div>
    <!--! /imagem  -->

  </div>

</div>


<div class="container  mt-5 mb-5 " id="postagens">

  <nav class="font-weight-bold d-flex justify-content-center">
    <div class="nav nav-tabs mb-3 " id="nav-tab" role="tablist">

      <a class="nav-link active text-secondary" id="nav-todasPostagens-tab" data-toggle="tab" href="#nav-todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas Postagens</a>

      <a  class="nav-link text-secondary" id="nav-minhasPostagens-tab" data-toggle="tab" href="#nav-minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas Postagens</a>

      <a class="nav-link text-secondary" id="nav-postagensPorTema-tab" data-toggle="tab" href="#nav-postagensPorTema" role="tab" aria-controls="nav-postagensPorTema" aria-selected="false">Postagens por Tema</a>

    </div>
  </nav>

  <div class="tab-content mt-5 " id="nav-tabContent">

    <div class="tab-pane fade show active mt-5" id="nav-todasPostagens" role="tabpanel"       aria-labelledby="nav-todasPostagens-tab">

      <div class="card-columns">

        <div class="card text-center" *ngFor='let item of listaPostagens'>
          <div class="card-body">
            <h5 class="card-title m-0">{{item.titulo}}</h5>
            <small class="text-muted">{{item.tema.descricao}}</small>
            <p class="card-text mt-3" >{{item.texto}}</p>
            <p class="card-text"><small class="text-muted">
              {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}</small>
            </p>
            <p class="card-text"><small class="text-muted">
              by: {{item.usuario.nome }}</small>
            </p>
          </div>
        </div>

      </div>

    </div>

    <div class="tab-pane fade" id="nav-minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">

      <div class="card-columns">

        <div class="card text-center" *ngFor='let item of user.postagem'>
          <div class="card-body">
            <h5 class="card-title m-0">{{item.titulo}}</h5>
            <small class="text-muted">{{item.tema.descricao}}</small>
            <p class="card-text mt-3" >{{item.texto}}</p>
            <p class="card-text"><small class="text-muted">
              {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}</small>
            </p>

          </div>
        </div>

      </div>

    </div>

    <div class="tab-pane fade" id="nav-postagensPorTema" role="tabpanel" aria-labelledby="nav-postagensPorTema-tab">

      <div class="card-columns">

        <div class="card text-center" *ngFor='let item of listaPostagens'>
          <div class="card-body">
            <h5 class="card-title m-0">{{item.titulo}}</h5>
            <small class="text-muted">{{item.tema.descricao}}</small>
            <p class="card-text mt-3" >{{item.texto}}</p>
            <p class="card-text"><small class="text-muted">
              {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
            </small></p>
            <p class="card-text"><small class="text-muted">
              by: {{item.usuario.nome }}</small>
            </p>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>





<!-- Modal -->
<div class="modal fade " id="novaPostagem" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  ">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title " id="staticBackdropLabel">Nova Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="form-group">
          <label for="titulo">Título</label>
          <input [(ngModel)]= 'postagem.titulo' type="text" class="form-control" name="titulo" id="titulo" placeholder="Título da postagem">
        </div>

        <div class="form-group">
          <label for="texto">Texto da postagem</label>
          <textarea [(ngModel)]= 'postagem.texto' class="form-control" name="texto" id="texto"  rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="tema">Escolha um tema ou <a data-dismiss="modal" routerLink="/tema">cadastre um novo</a>: </label>
          <select [(ngModel)]= 'idTema' (change)='findByIdTema()' name="tema" id="tema" class="form-control">
            <option *ngFor='let item of listaTemas' value="{{item.id}}">
              {{item.descricao}}
            </option>

          </select>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" (click)='publicar()'
        data-dismiss="modal">Publicar</button>
      </div>
    </div>
  </div>
</div>
